* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

:root {
  font-size: 62.5%;
  --black: #000000;
  --links-text-color: #333;
  --nav-text-color: #fff;
  --nav-hower: #e7ecef;
  --nav-secondary-color: rgb(247, 244, 244);
  --nav-bg-color: #f5f5f5;
  --icon-badge-color: rgb(68, 27, 3);
  --icon-count-color: #fff;
  --icon-count-bg: red;
}
