@import "/common.css";

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--header-bg-color);
  padding: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  align-items: center;
  font-size: 2rem;
}

.sm-cart {
  font-size: 1rem;
}

.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav a {
  padding: 8px;
  font-size: 2rem;
  justify-self: flex-end;
}

a {
  text-decoration: none;
  color: var(--nav-text-color);
  margin: 8px;
}

/* Change the color of links on hover */
.header-nav a:hover {
  color: var(--nav-text-color);
  transition: transform 0.2s;
}

/* Style the "active" element to highlight the current page */
.header-nav a.active {
  color: var(--nav-text-color);
}

/* Style the search box inside the navigation bar */
.nav-search {
  flex-grow: 1;
  border-radius: 5rem;
  font-size: 12px;
  padding: 8px;
  max-width: 20vw;
  width: 100%;
  margin-left: 30%;
  transition: all 0.3s ease-in-out;
}

.fa {
  margin: 8px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--nav-text-color);
}

.fa:hover {
  background-color: none;
  border-radius: 20%;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 400px) {
  .header-nav a {
    font-size: 8px;
  }
  .logo {
    font-size: 8px;
  }
  .fa {
    font-size: 8px;
  }
  .nav-search {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .header-nav a {
    font-size: 12px;
  }
  .logo {
    font-size: 12px;
  }
  .fa {
    font-size: 12px;
  }
  .nav-search {
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .header-nav a {
    font-size: 18px;
  }
  .logo {
    font-size: 18px;
  }
  .fa {
    font-size: 18px;
  }
  .nav-search {
    width: 20%;
  }
}
